# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
#/Guia\ 3/Ejercicios1y2/dist

/Guia\ 3/Ejercicios1y2/tmp
/Guia\ 3/Ejercicios1y2/out-tsc
# Only exists if Bazel was run
/Guia\ 3/Ejercicios1y2/bazel-out

# dependencies
/Guia\ 3/Ejercicios1y2/node_modules

# profiling files
/Guia\ 3/Ejercicios1y2/chrome-profiler-events*.json
/Guia\ 3/Ejercicios1y2/speed-measure-plugin*.json

# IDEs and editors
/Guia\ 3/Ejercicios1y2/.idea
/Guia\ 3/Ejercicios1y2/.project
/Guia\ 3/Ejercicios1y2/.classpath
/Guia\ 3/Ejercicios1y2/.c9/
/Guia\ 3/Ejercicios1y2/*.launch
/Guia\ 3/Ejercicios1y2/.settings/
/Guia\ 3/Ejercicios1y2/*.sublime-workspace

# IDE - VSCode
/Guia\ 3/Ejercicios1y2/.vscode/*
/Guia\ 3/Ejercicios1y2/!.vscode/settings.json
/Guia\ 3/Ejercicios1y2/!.vscode/tasks.json
/Guia\ 3/Ejercicios1y2/!.vscode/launch.json
/Guia\ 3/Ejercicios1y2/!.vscode/extensions.json
/Guia\ 3/Ejercicios1y2/.history/*

# misc
/Guia\ 3/Ejercicios1y2/.sass-cache
/Guia\ 3/Ejercicios1y2/connect.lock
/Guia\ 3/Ejercicios1y2/coverage
/Guia\ 3/Ejercicios1y2/libpeerconnection.log
/Guia\ 3/Ejercicios1y2/npm-debug.log
/Guia\ 3/Ejercicios1y2/yarn-error.log
/Guia\ 3/Ejercicios1y2/testem.log
/Guia\ 3/Ejercicios1y2/typings

# System Files
/Guia\ 3/Ejercicios1y2/.DS_Store
/Guia\ 3/Ejercicios1y2/Thumbs.db




# compiled output
#/Guia\ 4/crudAngular/dist
/Guia\ 4/crudAngular/tmp
/Guia\ 4/crudAngular/out-tsc
# Only exists if Bazel was run
/Guia\ 4/crudAngular/bazel-out

# dependencies
/Guia\ 4/crudAngular/node_modules

# profiling files
/Guia\ 4/crudAngular/chrome-profiler-events*.json
/Guia\ 4/crudAngular/speed-measure-plugin*.json

# IDEs and editors
/Guia\ 4/crudAngular/.idea
/Guia\ 4/crudAngular/.project
/Guia\ 4/crudAngular/.classpath
/Guia\ 4/crudAngular/.c9/
/Guia\ 4/crudAngular/*.launch
/Guia\ 4/crudAngular/.settings/
/Guia\ 4/crudAngular/*.sublime-workspace

# IDE - VSCode
/Guia\ 4/crudAngular/.vscode/*
/Guia\ 4/crudAngular/!.vscode/settings.json
/Guia\ 4/crudAngular/!.vscode/tasks.json
/Guia\ 4/crudAngular/!.vscode/launch.json
/Guia\ 4/crudAngular/!.vscode/extensions.json
/Guia\ 4/crudAngular/.history/*

# misc
/Guia\ 4/crudAngular/.sass-cache
/Guia\ 4/crudAngular/connect.lock
/Guia\ 4/crudAngular/coverage
/Guia\ 4/crudAngular/libpeerconnection.log
/Guia\ 4/crudAngular/npm-debug.log
/Guia\ 4/crudAngular/yarn-error.log
/Guia\ 4/crudAngular/testem.log
/Guia\ 4/crudAngular/typings

# System Files
/Guia\ 4/crudAngular/.DS_Store
/Guia\ 4/crudAngular/Thumbs.db





# compiled output
#/Guia\ 5/crudAngularFirebase/dist
/Guia\ 5/crudAngularFirebase/tmp
/Guia\ 5/crudAngularFirebase/out-tsc
# Only exists if Bazel was run
/Guia\ 5/crudAngularFirebase/bazel-out

# dependencies
/Guia\ 5/crudAngularFirebase/node_modules

# profiling files
/Guia\ 5/crudAngularFirebase/chrome-profiler-events*.json
/Guia\ 5/crudAngularFirebase/speed-measure-plugin*.json

# IDEs and editors
/Guia\ 5/crudAngularFirebase/.idea
/Guia\ 5/crudAngularFirebase/.project
/Guia\ 5/crudAngularFirebase/.classpath
/Guia\ 5/crudAngularFirebase/.c9/
/Guia\ 5/crudAngularFirebase/*.launch
/Guia\ 5/crudAngularFirebase/.settings/
/Guia\ 5/crudAngularFirebase/*.sublime-workspace

# IDE - VSCode
/Guia\ 5/crudAngularFirebase/.vscode/*
/Guia\ 5/crudAngularFirebase/!.vscode/settings.json
/Guia\ 5/crudAngularFirebase/!.vscode/tasks.json
/Guia\ 5/crudAngularFirebase/!.vscode/launch.json
/Guia\ 5/crudAngularFirebase/!.vscode/extensions.json
/Guia\ 5/crudAngularFirebase/.history/*

# misc
/Guia\ 5/crudAngularFirebase/.sass-cache
/Guia\ 5/crudAngularFirebase/connect.lock
/Guia\ 5/crudAngularFirebase/coverage
/Guia\ 5/crudAngularFirebase/libpeerconnection.log
/Guia\ 5/crudAngularFirebase/npm-debug.log
/Guia\ 5/crudAngularFirebase/yarn-error.log
/Guia\ 5/crudAngularFirebase/testem.log
/Guia\ 5/crudAngularFirebase/typings

# System Files
/Guia\ 5/crudAngularFirebase/.DS_Store
/Guia\ 5/crudAngularFirebase/Thumbs.db





# compiled output
#/Guia\ 5/crudAngularFirebase/dist
/Guia\ 6/AuthAngularFirebase/tmp
/Guia\ 6/AuthAngularFirebase/out-tsc
# Only exists if Bazel was run
/Guia\ 6/AuthAngularFirebase/bazel-out

# dependencies
/Guia\ 6/AuthAngularFirebase/node_modules

# profiling files
/Guia\ 6/AuthAngularFirebase/chrome-profiler-events*.json
/Guia\ 6/AuthAngularFirebase/speed-measure-plugin*.json

# IDEs and editors
/Guia\ 6/AuthAngularFirebase/.idea
/Guia\ 6/AuthAngularFirebase/.project
/Guia\ 6/AuthAngularFirebase/.classpath
/Guia\ 6/AuthAngularFirebase/.c9/
/Guia\ 6/AuthAngularFirebase/*.launch
/Guia\ 6/AuthAngularFirebase/.settings/
/Guia\ 6/AuthAngularFirebase/*.sublime-workspace

# IDE - VSCode
/Guia\ 6/AuthAngularFirebase/.vscode/*
/Guia\ 6/AuthAngularFirebase/!.vscode/settings.json
/Guia\ 6/AuthAngularFirebase/!.vscode/tasks.json
/Guia\ 6/AuthAngularFirebase/!.vscode/launch.json
/Guia\ 6/AuthAngularFirebase/!.vscode/extensions.json
/Guia\ 6/AuthAngularFirebase/.history/*

# misc
/Guia\ 6/AuthAngularFirebase/.sass-cache
/Guia\ 6/AuthAngularFirebase/connect.lock
/Guia\ 6/AuthAngularFirebase/coverage
/Guia\ 6/AuthAngularFirebase/libpeerconnection.log
/Guia\ 6/AuthAngularFirebase/npm-debug.log
/Guia\ 6/AuthAngularFirebase/yarn-error.log
/Guia\ 6/AuthAngularFirebase/testem.log
/Guia\ 6/AuthAngularFirebase/typings

# System Files
/Guia\ 6/AuthAngularFirebase/.DS_Store
/Guia\ 6/AuthAngularFirebase/Thumbs.db






/Guia\ 8/crudreactphp/node_modules
/Guia\ 8/crudreactphp/.pnp
/Guia\ 8/crudreactphp/.pnp.js

# testing
/Guia\ 8/crudreactphp/coverage

# production
/Guia\ 8/crudreactphp/build

# misc
/Guia\ 8/crudreactphp/.DS_Store
/Guia\ 8/crudreactphp/.env.local
/Guia\ 8/crudreactphp/.env.development.local
/Guia\ 8/crudreactphp/.env.test.local
/Guia\ 8/crudreactphp/.env.production.local

/Guia\ 8/crudreactphp/npm-debug.log*
/Guia\ 8/crudreactphp/yarn-debug.log*+
/Guia\ 8/crudreactphp/yarn-error.log*





# dependencies
/Guia\ 9/crudreactfirebase/node_modules
/Guia\ 9/crudreactfirebase/.pnp
/Guia\ 9/crudreactfirebase/.pnp.js

# testing
/Guia\ 9/crudreactfirebase/coverage

# production
/Guia\ 9/crudreactfirebase/build

# misc
/Guia\ 9/crudreactfirebase/.DS_Store
/Guia\ 9/crudreactfirebase/.env.local
/Guia\ 9/crudreactfirebase/.env.development.local
/Guia\ 9/crudreactfirebase/.env.test.local
/Guia\ 9/crudreactfirebase/.env.production.local

/Guia\ 9/crudreactfirebase/npm-debug.log*
/Guia\ 9/crudreactfirebase/yarn-debug.log*
/Guia\ 9/crudreactfirebase/yarn-error.log*
